a {
	color: #005183
}
a:hover {
	opacity: .8
}
.a {
	text-decoration: none;
	margin: .1em;
	font-weight: bold;
	color: gray
}
.a:hover {
	text-decoration: underline;
	color: #005183
}
.b {
	display: table-row;
	background: #07659e;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500
}
.b td {
	padding: .2em .5em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.c {
	font-weight: 400;
	font-size: 1.2em
}
.d {
	font-weight: 300;
	font-size: 1.2em
}
.e.f {
	border-right: solid 1px gray;
	padding-right: 1.3em
}
.e.g {
	padding: 0 1.3em 0 1.5em
}
.h {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	background: rgba(0,0,0,0.85);
	display: none;
	text-align: center;
	z-index: 10;
	overflow-y: scroll
}
.i {
	display: table;
	width: 100%;
	height: 100%
}
.j {
	vertical-align: middle;
	display: table-cell
}
.k {
	display: inline-block;
	background: rgba(0,0,0,0.24);
	width: 700px;
	position: relative;
	border: solid 4px rgba(175,173,173,0.51);
	border-radius: 4px;
	margin: 2em 0
}
.l {
	box-shadow: 0 0 6px Black;
	border: none;
	width: 700px;
	height: 392px;
	background: Black
}
.m {
	list-style: none;
	padding: 0;
	margin: .5em 0 .5em -16px
}
.m li {
	display: inline-block;
	font-weight: 500;
	font-size: 1.4em
}
.m li:after {
	content: '\00003e';
	padding: 0 .3em;
	font-weight: 300
}
.m a {
	text-decoration: none;
	color: inherit
}
.m a:hover {
	color: #4e4b4b
}
.n h1, h1.o {
	font-weight: 400;
	font-size: 2.1em;
	margin-bottom: .3em;
	color: #0542b9
}
.p {
	display: table;
	padding: 0 1em .5em
}
.q {
	display: table-row
}
.e {
	display: table-cell;
	font-size: .9em;
	color: #080808;
	vertical-align: middle
}
.e:first-child {
	padding-right: .9em
}
.r {
	height: 15em;
	overflow: hidden;
	position: relative;
	z-index: 1
}
.r:after {
	position: absolute;
	left: 0;
	top: 70%;
	bottom: 0;
	right: 0;
	z-index: 2;
	content: '';
	pointer-events: none;
	background: -webkit-linear-gradient(rgba(255,255,255,0), #fff)
}
.s.t .r:after {
	background: -webkit-linear-gradient(rgba(255,255,255,0), #f7f9fb)
}
.r .u {
	zoom: .8
}
.v {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
	padding: .5em 1.2em;
	box-shadow: 0 0 2px rgba(5,36,56,0.4);
	background: #0079c3;
	transition: all .2s ease;
	font-size: 1.2em;
	text-align: center;
	display: inline-block;
	margin: 2em 0 2em .5em
}
.v:hover {
	box-shadow: 0 0 3px 1px rgba(5,36,56,0.4);
	background: rgba(0,121,195,0.95);
	color: rgba(255,255,255,0.95)
}
.w {
	position: relative;
	margin-bottom: 3em;
	max-width: 50em
}
.w.x {
	margin-bottom: 2em
}
.y {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	display: inline-block;
	vertical-align: top;
	max-width: 40em
}
.n {
	line-height: 1;
	margin-left: 48px;
	padding-bottom: .5em;
	position: relative;
	margin-top: 3em
}
.n .u {
	zoom: .5;
	-moz-transform: scale(0.5);
	margin-top: 1em;
	margin-bottom: 1em
}
.z {
	color: Gray;
	text-decoration: none;
	font-size: 1.8em;
	position: absolute;
	top: 9px;
	left: -60px
}
.z:hover {
	color: Black
}
.A {
	color: #0542b9
}
.B h3 a, .A a {
	color: inherit;
	text-decoration: none
}
.B h3 a:hover, .A a:hover {
	text-decoration: underline
}
.C {
	margin-top: .5em;
	color: #3e3e3e
}
.C a {
	color: inherit
}
.B .y {
	padding-right: 3em
}
.B .u {
	zoom: .5;
	-moz-transform: scale(0.5)
}
.B:after {
	position: absolute;
	content: '';
	top: 14px;
	left: -42px;
	width: 32px;
	height: 0;
	border-top: solid 3px #0542b9
}
.D .B:after {
	width: 23px;
	left: -32px;
	top: 11px
}
.B:last-child:before {
	position: absolute;
	top: 16px;
	bottom: 0;
	width: 5px;
	left: -44px;
	background: white;
	content: ''
}
.D .B:last-child:before {
	top: 14px;
	width: 8px;
	left: -36px
}
.n .y {
	margin-right: 49px
}
.E {
	margin-left: 54px;
	list-style: none;
	border-left: solid #0542b9 4px;
	padding-top: .3em;
	margin-top: 0;
	padding-left: 40px
}
.E.D {
	padding-left: 30px
}
.B h3 {
	font-weight: 400;
	margin-bottom: .2em;
	font-size: 1.6em
}
.B {
	position: relative;
	max-width: 60em
}
.B p {
	font-weight: 300
}
.F {
	text-align: left;
	padding: 0 1em 1em;
	border-top: solid 1px rgba(255,255,255,0.08);
	background: #3d3d3d
}
.G {
	background: #014e7b;
	padding: .5em 16px;
	margin: .5em;
	display: inline-block;
	color: rgba(255,255,255,0.85);
	font-weight: Bold;
	border-radius: 4px;
	box-shadow: 0 0 2px #272727
}
.G:hover {
	background: #0282ce;
	color: White;
	box-shadow: 0 0 6px #1d1d1d
}
.H {
	color: #fff;
	padding: 1.4em 0 .8em .5em;
	font-weight: bold
}
.I:hover {
	background: #920922;
	box-shadow: 0 0 4px Black;
	text-shadow: 0 0 2px rgba(0,0,0,0.8)
}
.I {
	color: White;
	position: absolute;
	left: -15px;
	top: -15px;
	font-size: 2em;
	font-weight: Bold;
	background: Gray;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer
}
.u {
	background-position: center;
	background-size: cover;
	cursor: pointer;
	width: 278px;
	height: 150px;
	position: relative;
	display: inline-block;
	margin: 1em;
	box-shadow: 0 0 5px #737373;
	vertical-align: top
}
.u img, .J {
	width: 278px;
	height: 150px
}
.u img {
	object-fit: cover
}
.J {
	background: #b7b7b7
}
.K {
	background: #b7b7b7;
	width: 221px;
	margin-left: .5em
}
.L {
	padding-top: .4em
}
.M {
	width: 599px;
	display: block;
	margin-top: 2em
}
.N.O:hover {
	background: inherit
}
.u.P:hover .Q, .u.P .Q {
	background: #8e8e8e;
	opacity: inherit
}
.u.P {
	cursor: inherit
}
.R {
	position: absolute;
	top: 51px;
	left: 106px;
	width: 68px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: White;
	font-size: 28px;
	z-index: 2;
	pointer-events: none;
	text-shadow: 0 0 3px #fff
}
.Q {
	position: absolute;
	top: 50px;
	left: 105px;
	opacity: .72;
	width: 68px;
	height: 50px;
	background: Black;
	border-radius: 50%/8%;
	text-align: center;
	line-height: 50px;
	transition: all .15s ease
}
.u:hover .Q {
	opacity: 1;
	background: #cc181e
}
.S {
	background: inherit;
	position: absolute;
	top: 8%;
	bottom: 8%;
	right: -5%;
	left: -5%;
	border-radius: 5%/50%
}
.T {
	font-size: 1.5em;
	padding: 1em;
	color: White;
	box-shadow: 0 0 5px #012944;
	background: #005183
}
.T.U {
	background: url(backdrop.jpg);
	background-color: #293e8a;
	background-size: cover
}
.V {
	font-weight: 500;
	display: table-cell;
	vertical-align: top
}
.V a {
	color: inherit;
	text-decoration: inherit
}
.W {
	display: table-cell;
	text-align: right;
	width: 100%;
	padding: 0 50px 0 20px;
	vertical-align: middle
}
.W a {
	padding: .5em 1em;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .9em;
	display: block
}
.X {
	display: inline
}
.s {
	padding: 1.5em 5%
}
.s.t {
	padding: .5em 5%;
	margin: -1em 0
}
.t {
	background: #f7f9fb
}
.Y {
	padding-top: 3em;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center
}
.Z a {
	color: #22569f;
	text-decoration: inherit;
	text-transform: uppercase;
	border-radius: 2px;
	padding: .3em .8em;
	box-shadow: 0 0 10px 1px #2e3885;
	background: #fff;
	transition: all .2s ease
}
.Z a:hover {
	box-shadow: 0 0 20px 4px #005183;
	background: rgba(255,255,255,0.77);
	color: rgba(34,86,159,0.95)
}
.Z {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 3.5em
}
.ab:hover {
	background: #f0f2f5;
	opacity: .8
}
.ab {
	cursor: pointer
}
#dataset-index {
	box-shadow: 0 0 2px #9a9a9a;
	padding: 0 .5em
}
.ab:hover .bb, .ab:hover .cb {
	background: #dee1e4
}
.db:hover {
	opacity: inherit
}
.eb {
	color: gray;
	margin: -1em 0 1em
}
.eb label:hover {
	opacity: .8
}
.eb label {
	cursor: pointer
}
.ab td {
	display: table-cell;
	position: relative;
	padding: .25em .6em .25em .2em;
	border-bottom: solid 1px gainsboro;
	vertical-align: middle
}
.fb td {
	color: gray;
	font-weight: 300;
	border-bottom: solid 1px gray;
	display: table-cell;
	padding: .6em .6em .4em .2em;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none
}
.ab:nth-child(3) td {
	padding-top: .4em
}
.fb td:hover {
	background: whitesmoke;
	cursor: pointer
}
.fb td.bb, .ab td.bb, .gb.bb, .gb.bb .hb, .fb td.cb, .ab td.cb, .gb.cb, .gb.cb .hb {
	background: #edf1f3
}
.fb td.bb:hover, .fb td.cb:hover {
	background: #e0e6e8
}
.db {
	font-size: 1.1em;
	color: #0542b9;
	text-decoration: none;
	font-weight: 500
}
.ib {
	width: 80%
}
h3 {
	font-size: 1.5em;
	font-weight: 500
}
p, ol, .jb {
	font-weight: 300;
	line-height: 1.7
}
.kb {
	font-family: monospace;
	box-shadow: 0 0 2px #b7b7b7;
	padding: .5em;
	background: #f1f1f1;
	overflow-x: scroll
}
.jb {
	word-break: break-all
}
.jb>li>ul>li {
	line-height: 1;
	margin: .85em 0
}
.lb {
	color: #077707
}
.mb {
	color: #696969;
	font-style: italic
}
.n a {
	font-weight: 500;
	color: inherit
}
.n a:hover {
	opacity: .8
}
h2.n a {
	color: #0542b9;
	text-decoration: inherit
}
h2.n {
	margin: 1.5em 0 0 48px
}
.D>.B h3 {
	font-size: 1.3em;
	margin: .8em 0
}
.nb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}
.ob .u {
	zoom: .7;
	-moz-transform: scale(0.7);
	filter: grayscale(100%);
	z-index: 2
}
.pb {
	zoom: .9;
	-moz-transform: scale(0.9);
	margin-left: -0.5em;
	margin-top: .5em
}
.N:hover .u {
	filter: grayscale(0%)
}
.qb {
	color: #232323;
	font-weight: 400;
	font-size: 1.2em;
	padding: 0 0 0 .5em;
	display: inline-block
}
.N {
	border-right: solid #cacaca 1px;
	display: inline-block;
	padding: 1em .5em;
	position: relative;
	margin: 0
}
.rb {
	font-weight: 300;
	font-style: italic
}
.N:hover {
	background: #c7c7c7
}
.sb {
	overflow-x: hidden;
	box-shadow: 0 0 3px rgba(0,0,0,0.49)
}
.tb {
	background: #e6e6e6;
	white-space: nowrap;
	display: inline-block;
	transition: none
}
.tb.ub {
	transition: transform .6s ease
}
.qb a {
	color: inherit;
	text-decoration: inherit
}
.qb:hover a {
	text-decoration: underline
}
.vb {
	display: block;
	margin: 2em 0 .5em;
	background: #f5f5f5;
	box-shadow: 3px 3px 4px 0 #c7c7c7;
	width: 100%
}
.vb.wb {
	border-left: solid #35903a 5px;
	color: #35903a
}
.vb.xb {
	border-left: solid #d32f2f 5px;
	color: #d32f2f
}
.vb.yb {
	border-left: solid #da5f0b 5px;
	color: #da5f0b
}
.vb.zb {
	border-left: solid #212121 5px;
	color: #212121
}
.Ab {
	display: table-cell;
	font-size: 2em;
	padding: .5em
}
.Bb {
	display: table-cell;
	padding: .5em 1em .5em 0
}
.Bb div {
	margin-bottom: .7em;
	color: black;
	line-height: 1.5
}
.Bb h3 {
	margin: .7em 0
}
.Cb {
	border-right: solid 1px gray;
	padding-right: .5em;
	text-align: right
}
.Db td {
	padding: .1em .4em
}
.Db th {
	padding: .1em .4em;
	border-bottom: solid 1px gray;
	font-weight: 400
}
.Eb td {
	padding-top: .3em;
	color: black;
	font-weight: 500
}
.Db {
	box-shadow: 0 0 2px #929292;
	display: inline-block;
	margin-top: 1em
}
.Db a {
	padding: 0 .5em .5em;
	display: inline-block
}
.Db div {
	padding: .4em .5em;
	background: #004567;
	color: white;
	font-weight: bold
}
.Db table {
	padding: .5em
}
.Fb {
	display: table;
	table-layout: fixed;
	width: 90%;
	padding: 0 5%;
	background: #004567;
	color: white;
	border-top: solid 6px #337190;
	margin-top: -2em
}
.Gb {
	display: table-cell;
	text-align: center
}
.Fb h4 {
	font-weight: 300;
	font-size: 1.3em;
	margin: 0 0 .8em
}
.Fb h3 {
	margin: .8em 0 .3em
}
.gb {
	text-align: center;
	position: relative;
	padding-bottom: .2em
}
.Hb {
	position: absolute;
	border-top: solid 1px gray;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	top: 45%;
	left: .4em;
	right: .4em;
	bottom: 5%;
	z-index: 1
}
.hb {
	position: relative;
	z-index: 2;
	background: white;
	display: inline-block;
	padding: 0 .5em;
	margin: 0 1.5em;
	font-weight: bold
}
.Ib {
	outline: none;
	border: none;
	border-bottom: solid 2px black;
	width: 80%;
	padding-bottom: .3em;
	font-size: 1em;
	padding-right: 10%
}
.Jb {
	position: absolute;
	left: 90%;
	margin-left: -1em;
	font-size: 1em;
	padding-bottom: .3em;
	top: -0.2em;
	user-select: none
}
.Kb {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	cursor: pointer
}
.Kb:hover {
	opacity: .8
}
::-webkit-input-placeholder {
font-style:italic;
font-weight:300
}
::-moz-placeholder {
font-style:italic;
font-weight:300
}
:-ms-input-placeholder, :-moz-placeholder {
font-style:italic;
font-weight:300
}
.Lb {
	background: #e8ecef
}
.Mb {
	display: inline-block;
	width: 100%;
	margin: .6em 0
}
.Nb {
	display: inline-block;
	width: 302px;
	background: #f7f7f7;
	box-shadow: 0 0 9px rgba(6,6,6,0.26)
}
.Ob {
	display: table-row
}
.Mb img {
	height: 80px;
	width: 80px;
	display: table-cell
}
.Mb span {
	display: table-cell;
	vertical-align: middle;
	padding: 0 1.7em
}
.Mb a {
	font-weight: 500;
	text-decoration: none
}
.Mb a:hover {
	text-decoration: underline
}
.Pb {
	display: block;
	vertical-align: top;
	width: 20em
}
.Qb {
	margin: 0 0 0 -3em;
	font-size: .9em
}
.Rb {
	display: block;
	font-size: .8em
}
.Rb:hover {
	background: whitesmoke
}
.Sb:hover {
	background: Gainsboro
}
.Tb {
	box-shadow: 0 0 2px black
}
.m.Ub {
	margin: 0;
	padding: 1em;
	z-index: 2;
	padding-left: 3em;
	color: black
}
.m.Ub li {
	font-weight: 400;
	color: gray
}
.m.Ub li:last-child:after {
	display: none
}
.Vb {
	color: Black;
	font-weight: 500
}
.Wb footer {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	clear: both;
	position: relative;
	width: 100%;
	font-size: 14px;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa, #f5f5f5);
	background: -webkit-linear-gradient(top, #fafafa, #f5f5f5);
	background: -o-linear-gradient(top, #fafafa, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #fafafa, #f5f5f5 100%);
	background: linear-gradient(to top, #fafafa, #f5f5f5)
}
.Wb .Xb {
	padding: 16px
}
.Wb footer .Yb {
	margin: 0 32px 32px 0
}

@media (min-width:768px) {
.Wb footer .Zb {
	width: 968px;
	margin: auto
}
.Wb footer .Yb {
	float: left;
	width: 20%;
	margin: 0 32px 0 0
}
.Wb footer .Yb:first-of-type {
	width: 30%
}
.Wb footer .Yb:nth-of-type(3n) {
	margin-right: 0
}
}

@media (min-width:768px) {
.Wb footer .Yb+.Yb {
	margin-top: 0
}
}
.Wb footer .Yb span {
	text-transform: uppercase;
	font-weight: 400;
	margin-left: 16px;
	white-space: nowrap;
	color: #616161
}
.Wb footer ul.ac {
	margin-bottom: 8px
}

@media (min-width:768px) {
.Wb footer ul.ac {
	float: left;
	width: 50%
}
.Wb footer ul.bc {
	float: right;
	width: 50%
}
}
.Wb footer .Yb li {
	padding-left: 16px
}
.Wb footer .Yb li+li {
	margin-top: 8px
}
.Wb footer .Yb li a {
	color: #616161;
	font-weight: 300;
	font-size: 12px
}
.Wb footer .Yb li a:hover {
	text-decoration: underline
}
.Wb footer .Yb .cc {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
	vertical-align: middle
}
.Wb footer .Yb .dc {
	font-size: 18px;
	vertical-align: text-bottom
}

@media (min-width:768px) {
.Wb footer .Yb::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1px solid #e0e0e0;
	z-index: 1
}
.Wb footer .Yb:first-of-type::before {
	display: none
}
}
.Wb footer .ec {
	padding: 36px 0;
	margin: auto
}
.Wb footer .fc {
	padding: 16px 0 0;
	background-color: #eceff1
}
.Wb footer .fc .gc {
	width: 100%
}
.Wb footer .fc .hc {
	float: left
}
.Wb footer .fc .hc img {
	opacity: .54
}
.Wb footer .fc .ic {
	float: right
}
.Wb footer .fc .ic a {
	font-size: 12px;
	font-weight: 300
}
.Wb footer .fc .ic a::after {
	content: '\0000b7';
	padding: 6px;
	font-weight: 400
}
.Wb footer .fc .ic a:last-of-type::after {
	display: none
}
.Wb footer .jc {
	position: absolute;
	top: -36px;
	right: 0;
	height: 4px;
	width: 128px
}
.Wb footer .jc table {
	height: 100%
}
.Wb footer .kc {
	width: 32px;
	height: 100%;
	border: 0
}
.Wb .kc.lc {
	background-color: #4285f4
}
.Wb .kc.mc {
	background-color: #db4437
}
.Wb .kc.nc {
	background-color: #f4b400
}
.Wb .kc.oc {
	background-color: #0f9d58
}
.Wb section {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
	padding: 60px 0;
	overflow: hidden
}
.Wb li, .Wb ol {
	list-style: none
}
.Wb * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.Wb a {
	color: #4285f4;
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: color .2s linear, box-shadow .2s linear;
	transition: color .2s linear, box-shadow .2s linear;
	cursor: pointer;
	border: none;
	outline: 0
}
.Wb img {
	border: none;
	outline: 0
}
.Wb a:visited {
	color: #7759ae
}

@media (min-width:1230px) {
.Wb .pc {
	padding: 0
}
}

@media (min-width:768px) {
.Wb .pc {
	padding: 0 30px
}
}
.Wb .pc {
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px
}
.Wb table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}
.Wb .pc:before, .Wb .pc:after, .Wb .qc:before, .Wb .qc:after {
	content: '';
	display: table
}
.Wb .pc:after, .Wb .qc:after {
	clear: both
}

@media (min-width:768px) {
.Wb .pc {
	padding: 0 30px
}
.Mb {
	width: 50%
}
.X, .W a {
	display: inline-block
}
.Ib {
	width: 29em;
	font-size: 1.2em;
	padding-right: 2em
}
.Jb {
	left: 30em;
	font-size: 1.2em;
	margin-left: 0
}
}

@media (min-width:1230px) {
.Wb .pc {
	padding: 0
}
.Mb {
	width: 33%
}
.Pb {
	display: inline-block
}
.Qb {
	margin: -2em 0 0 -3em
}
.W {
	padding: 0 100px 0 50px
}
}
